.buttonRefresh {
  position: absolute;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  top: calc(50% - 14px);
  left: calc(50% - 50px);
  background-color: white;
  z-index: 10;
  width: 100px;
  height: 28px;
  border-radius: 13px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  transform-origin: center;
}

.buttonRefresh:focus {
  outline: none;
}

.buttonRefreshClicked {
  left: calc(50% - 14px);
  width: 28px;
  height: 28px;
  border-radius: 13px;
}

.spanButton {
  opacity: 1;
  transition: 0.3s 0.3s;
}

.spanButtonClicked {
  opacity: 0;
}
